  {% for x in request.session.carrito %}
           <div class="dropdown">
          <button class="btn dropdown-toggle" type="button" data-toggle="dropdown"
            style="background-color: #51bdba;">Carrito
            <span class="caret"></span>
          </button>

          <ul class="dropdown-menu" style="color:black; width: 500px;">

            {% for x in request.session.carrito %}
            <li>
              <div class="card">
                <div class="card-header">{{x.cantidad}} unidades de {{x.nombre}} | {{x.valor}}</div>
              </div>
            </li>


            {% endfor %}

          </ul>
           </div>
           

            {% endfor %}